option_settings:
  aws:elasticbeanstalk:application:environmentsecrets:
    MONOGODB_URI: arn:aws:secretsmanager:us-west-2:914261933179:secret:prod/mongoSecret-FxwKtN
    TAVILY_API_KEY: arn:aws:secretsmanager:us-west-2:914261933179:secret:prod/tavilyApiKey-ZPK6sd
    OPENAI_API_KEY: arn:aws:secretsmanager:us-west-2:914261933179:secret:prod/openAIKey-msktCB
    LANGSMITH_API_KEY: arn:aws:secretsmanager:us-west-2:914261933179:secret:prod/langsmithApiKey-HI1n6a
  aws:elasticbeanstalk:application:environment:
    VITE_BACKEND_PREFIX: api
    DB_NAME: tavily_db
    OPEN_AI_MODEL: gpt-4.1-nano
    LANGSMITH_TRACING: true
    LANGSMITH_ENDPOINT: https://api.smith.langchain.com
    LANGSMITH_PROJECT: tavily-project
