option_settings:
  aws:elasticbeanstalk:application:environmentsecrets:
    MONOGODB_URI: arn:aws:ssm:us-west-2:914261933179:parameter/mongoUri
    TAVILY_API_KEY: arn:aws:ssm:us-west-2:914261933179:parameter/tavilyApiKey
    OPENAI_API_KEY: arn:aws:ssm:us-west-2:914261933179:parameter/openAIApiKey
    LANGSMITH_API_KEY: arn:aws:ssm:us-west-2:914261933179:parameter/langsmithAPIKey
  aws:elasticbeanstalk:application:environment:
    VITE_BACKEND_PREFIX: api
    DB_NAME: tavily_db
    OPEN_AI_MODEL: gpt-4.1-nano
    LANGSMITH_TRACING: true
    LANGSMITH_ENDPOINT: https://api.smith.langchain.com
    LANGSMITH_PROJECT: tavily-project
