option_settings:
  aws:elasticbeanstalk:application:environment:
    MONOGODB_URI: null
    TAVILY_API_KEY: null
    OPENAI_API_KEY: null
    LANGSMITH_API_KEY: null
  aws:elasticbeanstalk:application:environmentsecrets:
    MONOGODB_URI: arn:aws:secretsmanager:us-west-2:914261933179:secret:prod/mongoSecret-FxwKtN
    TAVILY_API_KEY: arn:aws:secretsmanager:us-west-2:914261933179:secret:prod/tavilyApiKey-ZPK6sd
    OPENAI_API_KEY: arn:aws:secretsmanager:us-west-2:914261933179:secret:prod/openAIKey-msktCB
    LANGSMITH_API_KEY: arn:aws:secretsmanager:us-west-2:914261933179:secret:prod/langsmithApiKey-HI1n6a